# Инструменты для оперативной работы с данными

In [113]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

import os

In [114]:
from datetime import date

### Домашнее задание

Результат по выполнению заданий необходимо предоставить в виде ссылки на файл формата Jupyter (ipynb) в github.

В файле должны быть сохранены результаты запуска на тестовых данных.


Дано: данные о популярности имен для новорожденных, скачивается по ссылке https://www.ssa.gov/oact/babynames/names.zip


Добавлять исходные данные в репозиторий с выполненным заданием необязательно, но в блокноте необходимо выделить путь к файлам в отдельную переменную, которую легко поменять.

I С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

```
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

II С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

```
count_dynamics([1900, 1950, 2000]) == {'M': [146391, 1675092, 1262262], 'F': [279409, 1390888, 670434]}
```

In [281]:
DATA_PATH = 'D:\\python\\names\\'

In [282]:
pd.read_csv(os.path.join(DATA_PATH, 'yob1880.txt')).head(10)

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578
5        Ida  F  1472
6      Alice  F  1414
7     Bertha  F  1320
8      Sarah  F  1288
9      Annie  F  1258

In [283]:
def count_top3(*args):
     for year in args:
        year_path = 'yob{}.txt'.format(year)
        names = pd.read_csv(os.path.join(DATA_PATH, year_path), 
        names=['Name','Count'])
        print('Топ-3 имени  в {}'.format(year), names.sort_values
                                          (by='Count', ascending=False)
                                           .head(3))

In [284]:
count_top3(1930, 1940, 1950)

Топ-3 имени  в 1930        Name  Count
Mary      F  64142
Robert    M  62151
James     M  53943
Топ-3 имени  в 1940        Name  Count
James     M  62474
Robert    M  61195
Mary      F  56198
Топ-3 имени  в 1950        Name  Count
James     M  86238
Robert    M  83575
Linda     F  80439

In [285]:
# Не понял есть ли пандаса какой нить прием достать имена,
# либо в тупую парсить и имя доставать, или есть какой-то другой инструмент?

In [286]:
def count_dynamics(*args):
    for year in args:
        year_path = 'yob{}.txt'.format(year)
        names = pd.read_csv(os.path.join(DATA_PATH, year_path), 
        names=['Name','Gender','Count'])
#         names[names.Gender=='M'].Count.sum()
#         names[names.Gender=='F'].Count.sum()
#         names.head(10)
        print("В {} году, было {} мужских имен и {} женских имен".format(
            year,
            names[names.Gender=='M'].Count.sum(), 
            names[names.Gender=='F'].Count.sum()
        ))
#         print(names.head(10))

In [287]:
count_dynamics(1900, 1950,2000)

В 1900 году, было 150486 мужских имен и 299810 женских имен
В 1950 году, было 1790871 мужских имен и 1713259 женских имен
В 2000 году, было 1962744 мужских имен и 1814922 женских имен